footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(228, 228, 228);
    .bloc1 {
        margin: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sous-bloc1-txt {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 100px;
            .bloc-txt {
                .txt {
                    display: block;
                    text-decoration: none;
                    font-size: 18px;
                    border-left: 2px solid rgb(189, 75, 0);
                    padding: 0px 0px 0px 10px;
                    cursor: pointer;
                    color: rgb(78, 31, 0);
                    font-weight: bold;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                :nth-child(1) {
                        margin-bottom: 30px;
                }
            }
        }
        .sous-bloc1-btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
            .btn-footer-contact-us {
                padding: 10px 20px;
                font-size: 18px;
                font-family: "Nunito", sans-serif;
                border-radius: 10px;
                background-color: rgb(255, 202, 167);
                border: 2px solid rgb(189, 75, 0);
                color: rgb(78, 31, 0);
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
            .select-langage {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid rgb(189, 75, 0);
                padding: 10px 20px;
                border-radius: 10px;
                background-color: rgb(255, 202, 167);
                color: rgb(78, 31, 0);
                font-weight: bold;
                gap: 10px;
                cursor: pointer;
                &:hover {
                        background-color: white;
                        color: black;
                }
                i {
                    font-size: 18px;
                    margin-right: 5px;
                    cursor: pointer;
                }
                .select-lang-footer {
                    font-size: 18px;
                    font-family: "Nunito", sans-serif;
                    border: none;
                    background-color: transparent;
                    color: rgb(78, 31, 0);
                    font-weight: bold;
                    cursor: pointer;
                    &:focus {
                        outline: none;
                    }
                    &:hover {
                        background-color: white;
                        color: black;
                    }
                    option {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .bloc2 {
        padding: 35px 50px;  
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid rgba(78, 31, 0, 0.397);
        .sous-bloc2-txt1 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            font-family: "Nunito", sans-serif;
            font-weight: 700;
            color: rgb(78, 31, 0);
        }
        .sous-bloc2-icones {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            .icone {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(197, 197, 197);
                padding: 8px;
                border-radius: 5px;
                cursor: pointer;
                i {
                    font-size: 25px;
                    color: rgb(59, 24, 0);
                }
                .image-X-twitter {
                    width: 25px;
                    height: 25px;
                }
            }
        }
        .sous-bloc2-txt2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            a {
                display: block;
                font-size: 15px;
                font-family: "Nunito", sans-serif;
                font-weight: 700;
                color: rgb(78, 31, 0);
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    @media (max-width: 1690px) {
        .bloc1 {
            margin: 40px;
            .sous-bloc1-txt {
                gap: 80px;
                .bloc-txt {
                    .txt {
                        font-size: 15px;
                    }
                }
            }
            .sous-bloc1-btn {
                gap: 40px;
                .btn-footer-contact-us {
                    padding: 8px 15px;
                    font-size: 15px;
                    border-radius: 8px;
                }
                .select-langage {
                    padding: 8px 15px;
                    border-radius: 8px;
                    gap: 8px;
                    i {
                        font-size: 15px;
                        margin-right: 3px;
                    }
                    .select-lang-footer {
                        font-size: 15px;
                    }
                }
            }
        }
        .bloc2 {
            padding: 25px 30px;  
            .sous-bloc2-txt1 {
                font-size: 12px;
            }
            .sous-bloc2-icones {
                gap: 17px;
                .icone {
                    padding: 6px;
                    border-radius: 3px;
                    i {
                        font-size: 20px;
                    }
                    .image-X-twitter {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .sous-bloc2-txt2 {
                gap: 25px;
                a {
                    font-size: 13px;
                }
            }
        }
    }
    @media (max-width: 1100px) {
        .bloc1 {
            margin: 20px;
            .sous-bloc1-txt {
                gap: 40px;
                .bloc-txt {
                    .txt {
                        font-size: 12px;
                    }
                }
            }
            .sous-bloc1-btn {
                gap: 20px;
                .btn-footer-contact-us {
                    padding: 4px 10px;
                    font-size: 12px;
                    border-radius: 0px;
                }
                .select-langage {
                    padding: 4px 8px;
                    border-radius: 0px;
                    gap: 4px;
                    i {
                        font-size: 12px;
                        margin-right: 3px;
                    }
                    .select-lang-footer {
                        font-size: 12px;
                    }
                }
            }
        }
        .bloc2 {
            padding: 17px 20px;  
            .sous-bloc2-txt1 {
                font-size: 10px;
            }
            .sous-bloc2-icones {
                gap: 5px;
                .icone {
                    padding: 3px;
                    border-radius: 0px;
                    i {
                        font-size: 15px;
                    }
                    .image-X-twitter {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
            .sous-bloc2-txt2 {
                gap: 15px;
                a {
                    font-size: 10px;
                }
            }
        }
    }
    @media (max-width: 800px) {
        .bloc1 {
            margin: 20px;
            flex-direction: column;
            gap: 40px;
            .sous-bloc1-txt {
                gap: 20px;
                .bloc-txt {
                    .txt {
                        font-size: 15px;
                    }
                }
            }
            .sous-bloc1-btn {
                gap: 20px;
                .btn-footer-contact-us {
                    padding: 2px 7px;
                    font-size: 16px;
                }
                .select-langage {
                    padding: 2px 7px;
                    gap: 5px;
                    i {
                        font-size: 16px;
                    }
                    .select-lang-footer {
                        font-size: 16px;
                        option {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .bloc2 {
            flex-direction: column;
            padding: 20px 30px;
            gap: 20px;  
            .sous-bloc2-txt1 {
                font-size: 14px;
            }
            .sous-bloc2-icones {
                gap: 20px;
                .icone {
                    padding: 7px;
                    border-radius: 10px;
                    i {
                        font-size: 25px;
                    }
                    .image-X-twitter {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            .sous-bloc2-txt2 {
                gap: 30px;
                a {
                    font-size: 14px;
                }
            }
        }
    }
    @media (max-width: 450px) {
        .bloc1 {
            margin: 15px;
            gap: 25px;
            .sous-bloc1-txt {
                gap: 15px;
                .bloc-txt {
                    .txt {
                        font-size: 13px;
                    }
                }
            }
            .sous-bloc1-btn {
                gap: 15px;
                .btn-footer-contact-us {
                    padding: 1px 4px;
                    font-size: 14px;
                }
                .select-langage {
                    padding: 1px 4px;
                    gap: 3px;
                    i {
                        font-size: 14px;
                    }
                    .select-lang-footer {
                        font-size: 14px;
                        option {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .bloc2 {
            padding: 15px 7px;
            gap: 15px;  
            .sous-bloc2-txt1 {
                font-size: 12px;
                @media (max-width: 348px) {
                    font-size: 10px;
                }
            }
            .sous-bloc2-icones {
                gap: 15px;
                .icone {
                    padding: 4px;
                    border-radius: 7px;
                    i {
                        font-size: 20px;
                    }
                    .image-X-twitter {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .sous-bloc2-txt2 {
                gap: 20px;
                a {
                    font-size: 12px;
                }
            }
        }
    }
}