header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background-image: linear-gradient(90deg, rgb(196, 255, 214) 0%,rgb(151, 196, 255) 50%, rgb(254, 216, 255) 100%);
    box-shadow: 0px 0px 10px rgb(236, 236, 236);
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title-and-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 120px;
            height: 60px;
            margin: 5px 0px 10px 10px;
            cursor: pointer;
            text-decoration: none;
            color: black;
            h1 {
                font-family: "Philosopher", sans-serif; 
                font-size: 15px;
                font-weight: bold; 
                span {
                    font-style: italic; 
                }
            }
            .logo {
                margin-top: 5px;
                width: 50%; 
                height: 70%; 
            }
        }
        nav {
            span {
                margin: 0px 18px;
                font-size: 18px;
                cursor: pointer;
                padding: 8px;
                border: 1px solid;
                font-weight: bold;
                border-radius: 8px;
                &:hover {
                    background: #ffffffd8;
                }
            }
        }
    }
}